
body
{
	background-color:black;
}
	.front
{
	margin:50px;
	border:2px white;
	display:flex;
	justify-content:space-evenly;
}
.dark
{
	font-size:40px;	
	color:gray;
	text-align:center;
}
.text
{
	font-size:20px;
	color:white;
}

.intro
{
	margin:50px;
	border:2px white;
	display:flex;
	flex-direction:column;
}
.intro .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.details
{
	margin:50px;
	border:2px white;
	display:flex;
    justify-content:space-evenly;	
}
.proof
{
	margin:50px;
	border:2px orange;
}



.portfolio
{
	margin:50px;
	border:2px skyblue;
	display:flex;
	flex-direction:column;
	
}
.content .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.content .split .text
{
	border:1px green;
	height:180px;
	width:360px;
	margin:3px;
	
}

.services
{
	margin:50px;
	border:2px white;
	display:flex;
	flex-direction:column;
}
.services .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.end
{
	display:flex;
	margin:50px;
	border:2px white;
	flex-direction:column;
}
.end .text
{
	text-align:center;
}
.contact
{
	margin:50px;
	border:2px white;
	display:flex;
	flex-direction:column;
}
.contact .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.contact .split1
{
	display:flex;
	flex-direction:column;
}
.contact .split2
{
	display:flex;
	flex-direction:column;
}
.contact .split2 .split21
{
	display:flex;
	flex-direction:row;
	
}
.contact .split2 .split22
{
	display:flex;
	flex-direction:column;
}
.contact .split2 .split23
{
	display:flex;
	flex-direction:column;
}
.thank 
{
	margin:50px;
	border:2px white;
	display:flex;
	flex-direction:column;
}
.thank .split1
{
	display:flex;
	flex-direction:column;
}
.thank .split2
{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.thank .split2 .text
{
	border:1px white;
	height:15px;
	width:30px;
	margin:5px;
}